
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}


<!-- banner -->
<div class="inner_page_agile">
    <h3>Contact</h3>
    <p>Add Some Short Description</p>

</div>
<!--//banner -->
<!--/w3_short-->
<div class="services-breadcrumb_w3layouts">
    <div class="inner_breadcrumb">

        <ul class="short_w3ls" _w3ls>
            <li>@Html.ActionLink("Home", "Home", "Default", new { area = "" }, new { @class = "nav-link" })<span>|</span></li>
            <li>Contact</li>
        </ul>
    </div>
</div>
<!--//w3_short-->
<!-- /inner_content -->
<div class="inner_content_info_agileits">
    <div class="container">
        <div class="tittle_head_w3ls">
            <h3 class="tittle">Contact Us</h3>
        </div>
        <div class="inner_sec_grids_info_w3ls">
            <div class="col-md-4 agile_info_mail_img_info">
                <div class="address-grid">
                    <h4>Contact <span>Info</span></h4>
                    @{ Html.RenderAction("getContact", "Contact"); }
                    <div class="agileits_w3layouts_nav_right contact">
                        <div class="social two">
                            @{ Html.RenderAction("getFollow", "Home"); }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 agile_info_mail_img">

            </div>
            <div class="clearfix"> </div>
            <div class="w3layouts_mail_grid">
                <form action="#" method="post">
                    <div class="col-md-6 wthree_contact_left_grid">
                        <input type="text" name="Name" placeholder="Name" required="">
                        <input type="email" name="Email" placeholder="Email" required="">
                        <input type="text" name="Telephone" placeholder="Telephone" required="">
                        <input type="text" name="Subject" placeholder="Subject" required="">
                    </div>
                    <div class="col-md-6 wthree_contact_left_grid">
                        <textarea name="Message" placeholder="Message..." required=""></textarea>
                        <input type="submit" value="Submit">
                    </div>
                    <div class="clearfix"> </div>

                </form>
            </div>


        </div>

    </div>
</div>
<!-- //mid-services -->
<!-- /map -->
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387142.84010033106!2d-74.25819252532891!3d40.70583163828471!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1475140387172"
            style="border:0"></iframe>

</div>

