
@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<!-- banner -->
<div class="inner_page_agile">
    <h3>Events</h3>
    <p>Add Some Short Description</p>

</div>
<!--//banner -->
<!--/w3_short-->
<div class="services-breadcrumb_w3layouts">
    <div class="inner_breadcrumb">

        <ul class="short_w3ls" _w3ls>
            <li>@Html.ActionLink("Home", "Index", "Default", new { area = "" }, new { @class = "nav-link" })<span>|</span></li>
            <li>Events</li>
        </ul>
    </div>
</div>
<!--//w3_short-->
<!-- /inner_content -->
<div class="inner_content_info_agileits">
    <div class="container">
        <div class="tittle_head_w3ls">
            <h3 class="tittle">Our Events</h3>
        </div>
        <div class="inner_sec_grids_info_w3ls">
            <div class="col-md-4 blog-grid one">
                <a href="single.html"><img src="~/Content/images/e6.jpg" alt=""></a>
                <div class="events_info">
                    <h5>Oct 12,2017</h5>
                    <h4><a href="single.html">Talent Programmes</a></h4>
                    <p>Lorem ipsum dolor sit amet,vehicula vel sapien et, feugiat sapien amet.</p>

                </div>
            </div>
            <div class="col-md-4 blog-grid one">
                <a href="single.html"><img src="~/Content/images/e5.jpg" alt=""></a>
                <div class="events_info">
                    <h5>Oct 26,2017</h5>
                    <h4><a href="single.html">Talent Programmes</a></h4>
                    <p>Lorem ipsum dolor sit amet,vehicula vel sapien et, feugiat sapien amet.</p>
                </div>
            </div>
            <div class="col-md-4 blog-grid one lost">
                <a href="single.html"><img src="~/Content/images/e4.jpg" alt=""></a>
                <div class="events_info">
                    <h5>Nov 06,2017</h5>
                    <h4><a href="single.html">Talent Programmes</a></h4>
                    <p>Lorem ipsum dolor sit amet,vehicula vel sapien et, feugiat sapien amet.</p>
                </div>
            </div>
            <div class="col-md-4 blog-grid">
                <a href="single.html"><img src="~/Content/images/e1.jpg" alt=""></a>
                <div class="events_info">
                    <h5>Oct 12,2017</h5>
                    <h4><a href="single.html">Talent Programmes</a></h4>
                    <p>Lorem ipsum dolor sit amet,vehicula vel sapien et, feugiat sapien amet.</p>

                </div>
            </div>
            <div class="col-md-4 blog-grid">
                <a href="single.html"><img src="~/Content/images/e2.jpg" alt=""></a>
                <div class="events_info">
                    <h5>Oct 26,2017</h5>
                    <h4><a href="single.html">Talent Programmes</a></h4>
                    <p>Lorem ipsum dolor sit amet,vehicula vel sapien et, feugiat sapien amet.</p>
                </div>
            </div>
            <div class="col-md-4 blog-grid lost">
                <a href="single.html"><img src="~/Content/images/e3.jpg" alt=""></a>
                <div class="events_info">
                    <h5>Nov 06,2017</h5>
                    <h4><a href="single.html">Talent Programmes</a></h4>
                    <p>Lorem ipsum dolor sit amet,vehicula vel sapien et, feugiat sapien amet.</p>
                </div>
            </div>
            <div class="clearfix"></div>

        </div>

    </div>
</div>

