
@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<!-- banner -->
<div class="inner_page_agile">
    <h3>Events</h3>
    <p>Add Some Short Descript  ion</p>

</div>
<!--//banner -->
<!--/w3_short-->
<div class="services-breadcrumb_w3layouts">
    <div class="inner_breadcrumb">

        <ul class="short_w3ls" _w3ls>
            <li>@Html.ActionLink("Home", "Home", "Default", new { area = "" }, new { @class = "nav-link" })<span>|</span></li>
            <li>Events</li>
        </ul>
    </div>
</div>
<!--//w3_short-->
<!-- /inner_content -->
<div class="inner_content_info_agileits">
    <div class="container">
        <div class="tittle_head_w3ls">
            <h3 class="tittle">Our Events</h3>
        </div>
        @{ Html.RenderAction("getEvent", "Event"); }

    </div>
</div>


