@model List<FinalProjectDotNet.Models.EF.Menu>


<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <nav class="link-effect-2" id="link-effect-2">
        <ul class="nav navbar-nav">
            @foreach (var i in Model)
            {
                <li>@Html.ActionLink(i.name, i.name, "Default", null, new { @class = "effect-3" })</li>
            }
        </ul>
    </nav>
</div>
